* {
  margin: 0px;
  padding: 0px;
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

html {
  height: 100%;
}

#app {
  height: 100%;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a, a:focus, a:hover {
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  @include clearfix;
}

label {
  font-weight: 700;
}

.el-submenu__title i, .el-menu-item i {
  color: #fff;
  font-size: 12px;
  margin-right: 5px;
}

.el-submenu__icon-arrow {
  right: 4px;
}

.el-menu--collapse .el-submenu__icon-arrow {
  display: none;
}